# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environnements virtuels
venv/
ENV/
env/

# Fichiers Jupyter Notebook
.ipynb_checkpoints

# Fichiers de cache Streamlit
.streamlit/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de configuration IDE
.idea/
.vscode/
*.swp
*.swo
