streamlit>=1.22.0
pandas>=1.5.0
numpy>=1.22.0
matplotlib>=3.5.0
seaborn>=0.12.0
plotly>=5.10.0
scikit-learn>=1.0.0
hydralit-components>=1.0.10
streamlit-extras>=0.2.7
st-aggrid>=0.3.3
altair>=4.2.0
streamlit-lottie>=0.0.3
streamlit-option-menu>=0.3.2
streamlit-card>=0.0.4
streamlit-elements>=0.1.0
streamlit-echarts>=0.4.0
streamlit-folium>=0.7.0
